<div>
  <form action="/new" method="POST">
    <input
      type="text"
      name="short"
      style="border-radius:20px;border:light-gray;height:30px;width:400px;"
      placeholder="*input your origin URL*"
      required
    />
    <button
      type="submit"
      style="border-radius:5px;border:light-gray;height:30px;width:30px;"
    >ok</button>
  </form>
</div>